<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>478784906683-d3a90con450b94ib28pqcv6fsgreg7ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478784906683-d3a90con450b94ib28pqcv6fsgreg7ci</string>
	<key>API_KEY</key>
	<string>AIzaSyDGv3xVl7ZhnV_r8JrkoDtglKyoCfMZkls</string>
	<key>GCM_SENDER_ID</key>
	<string>478784906683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.InClass06App</string>
	<key>PROJECT_ID</key>
	<string>inclass06-projid</string>
	<key>STORAGE_BUCKET</key>
	<string>inclass06-projid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478784906683:ios:13aca1c24af9bffc</string>
	<key>DATABASE_URL</key>
	<string>https://inclass06-projid.firebaseio.com</string>
</dict>
</plist>